 body {
    background-color: #fff; /*bgc#fff */
    color: #555; /* c#555*/
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
} 

header {
    background-color: #002171; /* bgc#002171*/
    color: #fff;
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right;
    background-repeat: no-repeat; /* bgr */
    line-height: 400%; /* 400% */
    text-align: 1em;

}
nav {
    background-color: #bbdefb;
    font-weight: bold;
}
h1 {
    margin-bottom: 0; /* mb0 */
}
h2 {
    color: #1976d2; 
}
dt {
    color: #002171;
}
.resort {
    color: #1976d2;
}
