 body {
    background-color: #fff; /*bgc#fff */
    color: #555; /* c#555*/
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
} 

header {
    background-color: #000032; /* bgc#002171*/
    color: #fff;
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right;
    background-repeat: no-repeat; /* bgr */
    line-height: 400%; /* 400% */
    text-align: 1em;

}
nav {
    background-color: #bbdefb;
    font-weight: bold;
}
nav a {
    text-decoration: none; /* txd */
}
h1 {
    margin-bottom: 0; /* mb0 */
}
h1,h2,h3,footer {
    font-family: Georgia, 'Times New Roman',serif;
}
h2 {
    color: #1976d2; 
}
h3 {
    color: #000033;
}
dt {
    color: #002171;
}
footer {
    line-height: 75%;
    font-style: italic;
    text-align: center;

}
.resort {
    font-weight: bold;
    color: #1976d2;
}
#contact {
    font-size: 90%; /*fz90%*/
}
