* {
    box-sizing: border-box;
 }

 body {
    background-color: #EAEAEA;/*bgc#fff */
    
    background-repeat: no-repeat;
    color: #555; /* c#555*/
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
} 
#wrapper {
    background-color: #90c7e3;
    background-image: linear-gradient(to bottom, #fff, #90c7e3);

}

header {
    background-color: #000032; /* bgc#002171*/
    color: #fff;
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right;
    background-repeat: no-repeat; /* bgr */
    background-size: contain;
    /* height: 120px; */
    /* padding-top: 30px; */
    padding: 0.5em;
    text-align: center;

}
header a {
    text-decoration: none; /*tdn */
}
header a:link, header a:visited {
    color: #fff;
}
header a:hover {
    color: #90c7e3;
}
nav {
    /* font-size: 120%; */
    font-weight: bold;
    padding: 0;
    text-align: center; /*tac*/
}
nav a {
    text-decoration: none; /* txd */
    transition: color 3s ease-out;
}
nav ul {
    font-size: 1.2em; /*fz1.2em*/
    list-style-type: none; /*lstn*/
    margin: 0;
    padding-left: 0;
}

nav li {
    border-bottom: 1px solid #002171;
}
nav a:link {
    color: #5c7fa3;
}
nav a:visited {
    color: #344873;
}
nav a:hover {
    color: #a52a2a;
}

main {
    background-color: #fff;
    padding: 1px 20px 20px 30px;
    display: block;
    overflow: auto;
}

h1 {
    /* font-size: 3em; */
    letter-spacing: 0.25em;
    margin-bottom: 0.5em; /* mb0 */
    margin-top: 0.5em;
}
h1,h2,h3,footer {
    font-family: Georgia, 'Times New Roman',serif;
}
h2 {
    color: #1976d2; 
    text-shadow: 1px 1px #404040;
}
h3 {
    color: #000033;
}
dt {
    color: #002171;
}
footer {
    background-color: #fff;
    line-height: 75%;
    font-style: italic;
    padding: 2em;
    text-align: center;

}
.resort {
    font-weight: bold;
    color: #1976d2;
}
#contact {
    font-size: 90%; /*fz90%*/
}

#homehero {
    background-image: url(images/coast2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /*bgz100%100%*/
    height: 300px; 
}
#yurthero {
    background-image: url(images/yurt.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /*bgz100%100%*/
    height: 300px; 

}
#trailhero {
    background-image: url(images/trail.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /*bgz100%100%*/
    height: 300px; 
}
#abouthero {
    background-image: url(images/abouthero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}

table {
    border-bottom: 2px solid #1976d2;
    border-collapse: separate;
}
th {
    background-color: #1976d2;
    color: #fff;
}
td, th {
    padding: 0.5em;
     /* border: 2px solid #39c;  */
}
td {
    text-align: center; /* tac*/
}
.text {
    text-align: left; /* ta:l*/
}
tr:nth-last-of-type(odd) {
    background-color: #ffcd6f;
}

form{
    display: flex;
    flex-flow: column nowrap;

}
input, textarea {margin-bottom: 0.5em;}


@media (min-width: 600px) {
    nav ul {
        display: flex; /*df*/
        flex-direction: row; /*fdr*/
        justify-content: space-around;
    }
    nav li {
        border-bottom: none;
        
    }
    .flow {
        display: flex;
        flex-direction: row; 
    }
    section {
        flex: 1;
        margin-right: 1em;
    }
    form{
    display: grid;
    grid-template-columns: 6em 1fr;
    gap: 1em;
    max-width: 30em;
    width: 60%;
}
    input[type="submit"] {
        grid-column: 2 / 3;
        width: 9em;
    }
    #gallery {
            grid-template-columns: repeat(2, 1fr);
        }

}
@media (max-width:600px) {
    header {
        background-image: none;
    }

    #special table {
        display: block;
        border-bottom: none;
    }
    #special td,
    #special th {
        display: block;
    }
    #special thead {
        display: none;
    }
    td.package::before {
        content: "Package:";
    }
    td.description::before {
        content: "Description:";
    }
    td.nights::before {
        content: "Nights:";
    }
    td.cost::before {
        content: "Cost:";
    }
    td.package,
    td.description,
    td.nights,
    td.cost {
        padding-left: 35%;
        position: relative;
        text-align: left;
        font-size: 4vw;
    }
    td::before {
        position: absolute;
        top: 10px;
        left: 0.5em;
        font-weight: bold;
        color: #1976d2;
    }
    td:last-of-type {
        border-bottom: 2px solid #1b69b2;
    }
}
video {
    float: right;
    margin: 1em;
}
#gallery {
    display: grid;
    gap: 2em;
}
#gallery img {
    box-shadow: 10px 10px 10px #777;
    text-align: center;
    width: 100%;
}
@media (max-width: 730px) {
    video {
        display: block;
        float: none;
        clear: both;
        max-width: 100%;
        margin: 0 auto;
    }
}
@media (min-width: 1024px) {
    #wrapper {
        margin: auto;
        width: 80%;
        border: 1px solid #002171; /*bd1-solid-#002171 */
        box-shadow: 3px 3px 3px #002171;
    }
    nav {
        text-align: left;
        padding-left: 1em;
    }
    @supports( display: grid) {
        nav ul {
        flex-direction: column;
        padding-top: 1em;
        }
        .hero { grid-area: hero;}
        header {grid-area: header;}
        nav {grid-area: nav;}
        main {grid-area: main;} 
        #gallery {
            grid-area: gallery;
        }
        footer { grid-area: footer;}
        #wrapper {display: grid;
        grid-template:
        "header header"
        "nav hero"
        "nav main"
        "nav footer"
        /180px 1fr; }
        #gallery {
            grid-template-columns: repeat(3, 1fr);
        }
        }

    }